header {
    background-color: black;
}

body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    background-color: black;
}